ADMIN_EMAILS=admin@example.com,editor@example.com
STRIPE_SECRET_KEY=replace_me
STRIPE_MONTHLY_PRICE_ID=price_replace_me_monthly
STRIPE_ANNUAL_PRICE_ID=price_replace_me_annual
STRIPE_WEBHOOK_SECRET=replace_me
URL=https://hocosportsalmanac.com
